# strongSwan 6.0.2 swanctl 配置文件
# 简化配置，只使用默认端口 (500/4500)

connections {
    # IKEv2 EAP 连接
    ikev2-eap {
        local_addrs = %any
        remote_addrs = %any
        pools = ikev2

        local {
            auth = eap-radius
            id = {{SERVER_IP}}
        }
        remote {
            auth = eap-radius
            eap_id = %any
        }
        children {
            ikev2-eap {
                local_ts = 10.0.0.0/24
                remote_ts = 0.0.0.0/0
                esp_proposals = aes256-sha384-ecp384,aes128-sha1-modp2048,aes256-sha384-modp4096,aes256-sha1-modp4096,aes128-sha1-modp1536,aes256-sha384-modp2048,aes256-sha1-modp2048,aes128-sha1-modp1024,aes256-sha384-modp1536,aes256-sha1-modp1536,aes256-sha384-modp1024,aes256-sha1-modp1024
            }
        }
        version = 2
        proposals = aes256-sha384-ecp384,aes128-sha1-modp2048,aes256-sha384-modp4096,aes256-sha1-modp4096,aes128-sha1-modp1536,aes256-sha384-modp2048,aes256-sha1-modp2048,aes128-sha1-modp1024,aes256-sha384-modp1536,aes256-sha1-modp1536,aes256-sha384-modp1024,aes256-sha1-modp1024
    }

    # IKEv2 证书连接
    ikev2-cert {
        local_addrs = %any
        remote_addrs = %any
        pools = ikev2

        local {
            auth = pubkey
            certs = serverCert.pem
            id = {{SERVER_IP}}
        }
        remote {
            auth = pubkey
            id = %any
        }
        children {
            ikev2-cert {
                local_ts = 10.0.1.0/24
                remote_ts = 0.0.0.0/0
                esp_proposals = aes256-sha384-ecp384,aes128-sha1-modp2048,aes256-sha384-modp4096,aes256-sha1-modp4096,aes128-sha1-modp1536,aes256-sha384-modp2048,aes256-sha1-modp2048,aes128-sha1-modp1024,aes256-sha384-modp1536,aes256-sha1-modp1536,aes256-sha384-modp1024,aes256-sha1-modp1024
            }
        }
        version = 2
        proposals = aes256-sha384-ecp384,aes128-sha1-modp2048,aes256-sha384-modp4096,aes256-sha1-modp4096,aes128-sha1-modp1536,aes256-sha384-modp2048,aes256-sha1-modp2048,aes128-sha1-modp1024,aes256-sha384-modp1536,aes256-sha1-modp1536,aes256-sha384-modp1024,aes256-sha1-modp1024
    }
}

authorities {
    # CA 证书
    strongswan {
        cacert = caCert.pem
        crl_uris = http://crl.strongswan.org/strongswan.crl
    }
}

pools {
    # IP 地址池
    ikev2 {
        addrs = 10.0.0.0/24
        dns = 8.8.8.8, 8.8.4.4
    }
}

secrets {
    # 私钥
    private-strongswan {
        file = private/serverKey.pem
    }
    private-strongswan-cert {
        file = private/serverKey.pem
    }
}
