[client]
password       = root
port            = 3306
bind-address    =innerip
socket          = /var/run/mysqld/mysqld.sock

[mysqld]
user=mysql
datadir=/home/mysql/db_data
basedir=/usr/local/mysql
bind-address    = innerip
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
pid-file=/var/log/mysql/mysqld.pid
log-error=/var/log/mysql/error.log
#skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 32M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
log-bin=mysql-bin
binlog_format=mixed
server-id = 1
myisam-recover-options         = BACKUP 
# binary logging format - mixed recommended
binlog_format=mixed
expire_logs_days=1
lower_case_table_name=1

# Uncomment the following if you are using InnoDB tables
innodb_data_home_dir = /home/mysql/db_data
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/log/mysql
innodb_buffer_pool_size = 16M
#innodb_additional_mem_pool_size = 2M
innodb_log_file_size = 5M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50
innodb_file_per_table=1

[mysqldump]
quick
max_allowed_packet = 32M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout